body{
    background-color:white;
    color:black;
    font-family:sans-serif;
    transition:0.4s;
    text-align: center;
    padding-top: 50px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #333; 
}

.modo-oscuro {
    background-color:black;
    color:white;
}

.modo-oscuro button {
    border-color:white;
    background-color:black;
    color:white;
}
